<div class="rounded-lg bg-slate-700/80 hover:bg-slate-700 p-4 w-full py-6 px-7 grid sm:gap-7 md:grid-cols-2">
  <div class="content-img w-full h-full box-border inline-block overflow-hidden bg-gray-700/50 rounded-xl opacity-100 border-0 m-0 p-0 relative max-w-full">
    <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1279625/retina_1708x683_cover-angular-6-tutorial-new-features-power-fd928ca5d7f02fd16eabca0e7f428ba0.png" alt="">
  </div>

  <div class="content-info-proyect flex flex-col gap-2.5 justify-center">
    <h1 class="text-white font-bold text-2xl flex items-center"> Metodos toReversed, toSpliced, toSorted.</h1>
    <p class="text-white">Customizable password generation y Customizable password generation.</p>
    <p class="text-white">25 noviembre 2023</p>
  </div>
</div>